.container {
    height:440px;
}

.tuto__step {
    display: flex;
    width: 322px;
    height: 72px;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
