*, ::before ::after{
    box-sizing: border-box;
}

body{
    background-color: pink;
}

/*** responsive mobile ***/

.header {
    width: 100%;

}

.header_logo {
    font-family: Shrikhand;
    font-size: 30px;
    padding: 0px 19px 0px 16px;
}
