@charset "UTF-8";
/***** Base *****/
body {
  margin: 0;
}

h1 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
}

p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

/***** Components *****/
.restaurant__heart .heart-label {
  position: relative;
  cursor: pointer;
}
.restaurant__heart .heart-empty,
.restaurant__heart .heart-full {
  font-size: 26px;
  transition: opacity 0.3s ease;
  position: absolute;
  right: 20px;
}
.restaurant__heart .heart-full {
  opacity: 0;
  background: linear-gradient(to bottom, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.restaurant__heart .heart-checkbox:checked + label .heart-empty {
  opacity: 0;
}
.restaurant__heart .heart-checkbox:checked + label .heart-full {
  opacity: 1;
}

.containermenu__heart .heart-label {
  position: relative;
  cursor: pointer;
}
.containermenu__heart .heart-empty,
.containermenu__heart .heart-full {
  font-size: 26px;
  transition: opacity 0.3s ease;
  position: absolute;
}
.containermenu__heart .heart-full {
  opacity: 0;
  background: linear-gradient(to bottom, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.containermenu__heart .heart-checkbox:checked + label .heart-empty {
  opacity: 0;
}
.containermenu__heart .heart-checkbox:checked + label .heart-full {
  opacity: 1;
}

body {
  position: relative;
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  animation: white-screen 0.02s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.9;
}
.loader-container .loader {
  height: 200px;
  width: 200px;
  border: 15px solid #e3e3e3;
  border-radius: 50%;
  border-right-color: var(--primary-color);
  border-left-color: var(--secondary-color);
  animation: spin 1s ease infinite;
}

@keyframes white-screen {
  100% {
    z-index: -10;
    opacity: 0;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/***** Layout *****/
.linkfooter {
  background-color: #353535;
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.linkfooter h4 {
  color: white;
  margin: 0;
}
.linkfooter__link {
  color: white;
  text-decoration: none;
  font-family: "roboto";
}
.linkfooter__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 7px;
}
.linkfooter__listElt {
  margin-left: 10px;
}
.linkfooter__icon {
  padding-right: 7px;
}

/*** Tablette mode ***/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .linkfooter {
    flex-direction: row-reverse;
    align-items: center;
  }
  .linkfooter__list {
    flex-direction: row;
  }
}
/*** Desktop mode ***/
@media screen and (min-width: 1024px) {
  .linkfooter {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .linkfooter__list {
    flex-direction: row;
  }
}
header {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
header .logo {
  align-content: center;
}
header .logo img {
  height: 34px;
  width: 216px;
}
header .local {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0 17px 70px;
  background: #EAEAEA;
  border: none;
  align-self: stretch;
  gap: 17px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
header .local__icon {
  margin-right: 10px;
  color: #353535;
}
header .local input {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: black;
}

/*** Tablette mode ***/
/*** Desktop mode ***/
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header__logo {
    height: 96px;
  }
  header .local {
    box-shadow: none;
  }
}
/***** Pages *****/
/** EXPLORATION **/
.expl {
  text-align: center;
  align-items: center;
  padding: 32px 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.expl__text {
  margin: 0;
  width: 275px;
}
.expl p {
  height: 46px;
  width: 315px;
}
.expl__subt {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto";
  margin-left: 26px;
}
.expl__btn {
  border: 0;
  padding: 13px 18px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: var(--gradient);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  width: 177px;
  height: 25px;
}
.expl__btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

/** FONCTIONNEMENT**/
.fonct {
  padding: 27px;
  align-content: center;
}
.fonct__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.fonct__steps {
  display: flex;
  padding: 0;
  counter-reset: numlist;
  flex-direction: column;
}
.fonct__step {
  position: relative;
  list-style: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
  margin: 16px 0px 16px 8px;
  flex-grow: 1;
}
.fonct__step::before {
  content: counter(numlist);
  color: white;
  counter-increment: numlist;
  background-color: #9356DC;
  border-radius: 50%;
  width: 5px;
  height: 4px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -9px;
  top: 21px;
}
.fonct__icon {
  margin-right: 12px;
  color: #7E7E7E;
}
.fonct__icon-purple {
  color: var(--primary-color);
  margin-right: 12px;
}
.fonct__text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

/** RESTAURANT**/
.restaurant {
  background: #F6F6F6;
  padding: 17px;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  gap: 18px;
}
.restaurant__container a {
  text-decoration: none;
  color: black;
}
.restaurant__cards {
  background-color: #FFF;
  border-radius: 15px;
  position: relative;
}
.restaurant__cardbadge {
  background-color: var(--tertiary-color);
  color: #1b6150;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
}
.restaurant__text {
  margin: 15px 0 15px 13px;
}
.restaurant__text h3 {
  margin: 0;
}
.restaurant__text p {
  margin: 0;
}
.restaurant__card {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.restaurant__card img {
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__undercard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/***** Media queries******/
/*** Tablette mode ***/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonct {
    padding: 50px 20px 50px 20px;
  }
  .fonct__steps {
    flex-direction: row;
    width: 100%;
    gap: 25px;
  }
  .fonct__step {
    padding: 20px 4px 20px 20px;
  }
  .restaurant {
    padding: 20px 60px;
  }
  .restaurant__container {
    flex-wrap: wrap;
    gap: 28px;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant__container a {
    width: 45%;
  }
}
/*** desktop mode ***/
@media screen and (min-width: 1024px) {
  .expl__text {
    width: 100%;
  }
  .expl p {
    height: 46px;
    width: 100%;
  }
  .fonct {
    padding: 50px 90px;
  }
  .fonct__steps {
    width: 100%;
    flex-direction: row;
    gap: 25px;
  }
  .fonct__steps__step {
    padding: 20px 0px 20px 27px;
  }
  .restaurant {
    padding: 50px 118px;
  }
  .restaurant__container {
    flex-wrap: wrap;
    gap: 28px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .restaurant__container a {
    width: 48%;
  }
}
.menuheader {
  flex-direction: row;
  align-items: center;
  padding: 14px 89px 13px 17px;
  gap: 42px;
  display: flex;
}
.menuheader a {
  color: black;
  transition: transform 3s;
  font-size: 20px;
}
.menuheader a :active {
  transform: scale(0);
}
.menuheader .iconleft {
  position: absolute;
  left: 22px;
  top: 22px;
  cursor: pointer;
}

.restoimg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.containermenu {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.containermenu h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  padding: 23px 0 0 10px;
}
.containermenu__title {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 42px;
  align-items: center;
  padding-left: 10px;
}

.order {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
  align-items: center;
}
.order__btn {
  padding: 18px 0 18px 63px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: var(--gradient);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
}
.order__btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.allmenu {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 40px;
}
.allmenu__info {
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.allmenu__info h3 {
  padding-left: 16px;
  padding-bottom: 19px;
  position: relative;
  font-weight: 400;
  margin: 0;
}
.allmenu__info h3::after {
  content: "";
  border-bottom: 5px solid #99E2D0;
  width: 40px;
  height: 3px;
  position: absolute;
  left: 16px;
  top: 26px;
}

.menuitems {
  /* Cacher la case à cocher par défaut */
}
.menuitems__info {
  display: flex;
  margin: 15px;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  gap: 5px;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  animation: itemApear 1s forwards;
}
.menuitems__text {
  overflow: hidden;
  white-space: nowrap;
  padding: 15px;
}
.menuitems__text h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-family: "roboto";
  font-weight: 500;
}
.menuitems__text p {
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuitems__group {
  display: flex;
  flex-direction: row;
}
.menuitems__price {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 15px;
}
.menuitems .checkbox-custom {
  background-color: #99e2d0;
  width: 69px;
  height: 70px;
  font-size: 20px;
  overflow: hidden;
  display: flex;
  place-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in;
  cursor: pointer;
}
.menuitems .checkbox-custom i {
  color: #99E2D0;
  background-color: #FFF;
  height: 25px;
  width: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition-duration: 0.5s;
}
.menuitems input[type=checkbox]:checked + .checkbox-custom + .menuitems__group {
  transform: translate(100%, 0);
  margin-left: 40px;
}
.menuitems input[type=checkbox] {
  display: none;
  margin-right: -40px;
}

@keyframes itemApear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*** Tablette mode ***/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menuheader {
    padding: 14px 14px 13px 17px;
    gap: 267px;
  }
  .containermenu__title {
    display: flex;
    justify-content: center;
  }
  .allmenu {
    padding: 0 75px;
  }
}
/*** Desktop mode ***/
@media screen and (min-width: 1024px) {
  .menumain {
    padding-left: 192px;
    padding-right: 192px;
  }
  .menuheader {
    box-shadow: none;
    gap: 553px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 33px 50px 33px 50px;
    width: auto;
  }
  .fonct {
    padding: 50px 119px;
  }
  .restaurant {
    padding: 50px 119px;
  }
  .containermenu {
    padding: 11px 0 16px 0;
  }
  .containermenu h2 {
    padding: 0;
  }
  .containermenu__title {
    justify-content: center;
  }
  .containermenu__title .heart-label {
    bottom: 12px;
  }
  .allmenu {
    padding: 0 75px;
  }
  .restoimg {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 475px;
  }
  .linkfooter {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 70px;
  }
}
/****** Utils *****/
:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --gradient: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9)) ;
}/*# sourceMappingURL=style.css.map */