.restaurant {
    &__heart {
        .heart-label {
            /* un cursor apparait au survol du coeur */
            position: relative;
            cursor: pointer;
        }

        .heart-empty,
        .heart-full {
            /* surposition des coeurs transparent et noir avec une transition au niveau de l'opacité */
            font-size: 26px;
            transition: opacity 0.3s ease; //remplissage progessif
            position: absolute;
            right: 20px;
            top: 20px;
        }

        .heart-full {
            /* un dégradé de couleur sur le coeur noir */
            opacity: 0;
            background: linear-gradient(to bottom,
                    rgba(147, 86, 220, 0.9),
                    rgba(255, 121, 218, 0.9));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .heart-checkbox:checked+label .heart-empty {
            /* le coeur est pas rempli initialement */
            opacity: 0;
        }

        .heart-checkbox:checked+label .heart-full {
            /* le coeur est rempli au clic */
            opacity: 1;
        }
    }
}


.menucontainer {
    &__heart {
        .heart-label {
            position: relative;
            cursor: pointer;
        }

        .heart-empty,
        .heart-full {
            font-size: 26px;
            transition: opacity 0.3s ease;
            position: absolute;
        }

        .heart-full {
            opacity: 0;
            background: linear-gradient(to bottom,
                    rgba(147, 86, 220, 0.9),
                    rgba(255, 121, 218, 0.9));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .heart-checkbox:checked+label .heart-empty {
            opacity: 0;
        }

        .heart-checkbox:checked+label .heart-full {
            opacity: 1;
        }
    }
}