.restaurant {
    &__heart {
        .heart-label {
            position: relative;
            cursor: pointer;
        }

        .heart-empty,
        .heart-full {
            font-size: 26px;
            transition: opacity 0.3s ease;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .heart-full {
            opacity: 0;
            background: linear-gradient(to bottom,
                    rgba(147, 86, 220, 0.9),
                    rgba(255, 121, 218, 0.9));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .heart-checkbox:checked+label .heart-empty {
            opacity: 0;
        }

        .heart-checkbox:checked+label .heart-full {
            opacity: 1;
        }
    }

}

.containermenu {
    &__title {
        .heart-label {
            position: relative;
            cursor: pointer;
        }

        .heart-empty,
        .heart-full {
            font-size: 26px;
            transition: opacity 0.3s ease;
            position: absolute;
            top: 35px;
        }

        .heart-full {
            opacity: 0;
            background: linear-gradient(to bottom,
                    rgba(147, 86, 220, 0.9),
                    rgba(255, 121, 218, 0.9));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .heart-checkbox:checked+label .heart-empty {
            opacity: 0;
        }

        .heart-checkbox:checked+label .heart-full {
            opacity: 1;
        }
    }
}