.linkfooter {
    background-color: #353535;
    display: flex;
    padding: 22px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    & h4 {
        color: white;
        margin: 0;
    }

    &__link {
        color: white;
        text-decoration: none;
        font-family: "roboto";

        & i {
            margin-right: 10px;
            font-size: 14px;

            &-handshake {
                font-size: 11px;
                margin-right: 8px;
            }
        }
    }


    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 7px;
    }

    &__icon {
        padding-right: 7px;

    }
}



/*** Tablette mode ***/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .linkfooter {
        flex-direction: row-reverse;
        align-items: center;

        &__list {
            flex-direction: row;
        }
    }

}

/*** Desktop mode ***/
@media screen and (min-width: 1025px) {

    .linkfooter {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        &__list {
            flex-direction: row;
        }
    }
}