header {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);


    .logo {
        padding: 14px 89px 13px 89px;
    }

    .logo img {
        height: 47px;
        width: 206px;
    }

    .local {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 17px;
        background: #EAEAEA;
        border: none;
        width: 100%;

        &__icon {
            margin-right: 10px;
            color: #353535;
        }

        & input {
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: transparent;
            color: black;
        }
    }
}

@media screen and (min-width: 1440px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;

        &__logo {
            height: 96px;

        }
    }
}