.menuheader {
    justify-content: center;
    padding: 14px 14px 13px 17px;
    position: relative;

    & a {
        color: black;
        transition: transform 3s;
        font-size: 20px;
        position: absolute;
        position: absolute;
        left: 22px;
        top: 22px;
        cursor: pointer;

        & :active {
            transform: scale(0);
        }
    }

}

.restoimg {
    object-fit: cover;
    width: 100%;
    height: 275px;
}

.menucontainer {
    margin-top: -64px;
    border-radius: 32px 32px 0 0;
    background-color: #f6f6f6;
    position: relative;

    & h2 {
        font-family: "Shrikhand", cursive;
        font-size: 28px;
        padding: 23px 0 0 10px;
    }

    &__title {
        display: flex;
        flex-direction: row;
        gap: 42px;
        align-items: center;
        padding-left: 10px;
        justify-content: center;
    }

    &__heart {
        width: 40px;
    }
}

.order {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    align-items: center;

    &__btn {
        padding: 18px 0 18px 63px;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: var(--gradient);
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, .25);
        font-size: 16px;
        font-weight: 500;
        font-family: "Roboto";
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #fff;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50);

        }
    }
}

.allmenu {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: 40px;

    &__container {
        max-width: 100%;
        overflow: hidden;
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        & h3 {
            padding-left: 16px;
            padding-bottom: 19px;
            position: relative;
            font-weight: 400;
            margin: 0;

            &::after {
                content: "";
                border-bottom: 5px solid #99E2D0;
                width: 40px;
                height: 3px;
                position: absolute;
                left: 16px;
                top: 26px;
            }
        }
    }
}

.menuitems {
    &__info {
        display: flex;
        margin: 15px;
        overflow: hidden;
        cursor: pointer;
        max-width: 100%;
        justify-content: space-between;
        background-color: #FFF;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        border-radius: 15px;
        animation: itemApear 1s backwards;

        &:nth-child(1) {
            -webkit-animation-delay: .3s;
            animation-delay: .3s
        }

        &:nth-child(2) {
            -webkit-animation-delay: 2s;
            animation-delay: 2s
        }

        &:nth-child(3) {
            -webkit-animation-delay: .9s;
            animation-delay: .9s
        }

        &:nth-child(4) {
            -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s
        }

        &:nth-child(5) {
            -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s
        }

        &:nth-child(6) {
            -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s
        }

        &:nth-child(7) {
            -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s
        }

        &:nth-child(8) {
            -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s
        }

        &:nth-child(9) {
            -webkit-animation-delay: 2.7s;
            animation-delay: 2.7s
        }

        &:nth-child(10) {
            -webkit-animation-delay: 3s;
            animation-delay: 3s
        }

        .price-check {
            display: flex;
            flex-direction: row;
        }

    }

    &__text {
        overflow: hidden;
        white-space: nowrap;
        padding: 15px;

        & h4 {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 18px;
            font-family: "roboto";
            font-weight: 500;
        }

        & p {
            margin: 0;
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__group {
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    &__price {
        font-weight: bold;
        font-size: 15px;
        display: flex;
        align-items: flex-end;
        margin: 0;
        padding: 15px;
        cursor: pointer;
    }
}

.checkbox-custom {
    background-color: #99e2d0;
    width: 0px;
    height: 70px;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    place-items: center;
    justify-content: center;
    transition: width 0.3s ease-in-out;
    cursor: pointer;

    & i {
        color: #99E2D0;
        background-color: #FFF;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transition-duration: .5s;
    }
}

// le ~ concerne l'élément frère
.select-checkbox:checked~label .checkbox-custom {
    //select-checkbox
    width: 69px; // remplissage complet
}

.select-checkbox:checked~.menuitems__info {
    transform: translateX(-60px); // rétrécir la barre de menu vers gauche
}


//*** Animation des menus ***//
@keyframes itemApear {
    0% {
        transform: scale(0);
        transform-origin: 50% 90%;
    }

    90% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}


/*** Tablette mode ***/
@media screen and (min-width:768px) and (max-width:1024px) {


    .menucontainer {
        &__title {
            display: flex;
            justify-content: center;

        }
    }

    .allmenu {
        padding: 0 75px;
    }
}

/*** Desktop mode ***/
@media screen and (min-width: 1025px) {
    .menumain {
        padding-left: 192px;
        padding-right: 192px;
    }

    .menuheader {
        box-shadow: none;

    }

    .fonct {
        padding: 50px 119px;
    }

    .restaurant {
        padding: 50px 119px;
    }

    .menucontainer {
        padding: 11px 0 16px 0;

        & h2 {
            padding: 0;
        }

        & .heart-label {
            bottom: 12px;
        }
    }

    .allmenu {
        padding: 0 75px;
    }

    .restoimg {
        object-fit: cover;
        width: 100%;
        height: 475px;
    }

    .linkfooter {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: end;
        gap: 70px;
    }
}